html, body {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  background-color: #E5E5E5;
}
* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  min-height: 100%;

  /* margin: 60px auto 0px auto; */
  /* margin: 0 auto; */
  /* max-width: 1280px;     */
}
.content {
  background-color: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto;
  border-top: 2px solid #1E79BE;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.title {
  max-width: 60%;
  font-weight: 400;
  margin-top: 25px;
  font-size: 22px;
  line-height: 30px;
}
.search {
  color: #3072C4;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search-link {
  color: #3072C4;
  text-decoration: none;
}
.info  {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size:16px;
  line-height: 25px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}
.description {
  width: 50%;
}
.square {
  margin-top: 10px;
}
.coords {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: grey;
}
.form-order {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.order-input {
  margin-right: 10px;
  appearance: none;
  position: absolute;
}
.order-label { 
  display: flex;
  flex-direction: row;
}
.svg-container {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.label-title {
  padding-bottom: 5px;
}
.label-subtitle {
  padding-bottom: 5px;
  color: grey;
}

#check {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 2px 2px 3px 2px;
  fill: #fff;
  background: rgba(255, 255, 255, 1e-05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
} 
.order-input:checked + .order-label  #check {
  background-color: #1D85D0;
}
.order-input:not(:checked) + .order-label:hover #check {
  stroke: #1D85D0;
  
}
.order-input:not(:checked) + .order-label:active #check {
  fill: #1D85D0;
}
.order-input:focus + .order-label #check {
  border: 2px solid #1D85D0;
  border-radius: 2px;
}
.btn {
  /* width: 30%; */
  cursor: pointer;
  width: 200px;
  padding: 10px 15px 12px 15px;
}
.btn:hover:not(:active) {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.btn-blue {
  background-color:#1E79BE;
  color: white;
  border: none;
}
/* ==/Footer==/ */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 20px;
  background-color: #E5E5E5;
  max-width: 1280px;
  margin: 0 auto;
}

.footer-content {
  display: flex;

}
.footer-logo {
  margin-right: 8px;
  
}
.footer-text {
  display: flex;
  flex-direction: column;

}
.footer-title {
  font-weight: 900;
  font-size: 16px;
  color: #A1A1A1;
  padding-bottom: 5px;
}
.footer-date {
  font-weight: 400;
  font-size: 14px;

  color: rgba(0,0,0,0.37);
}
.footer-other {
color: #A1A1A1;
}
/* ==/Footer==/ */

/* HEADER */
.header {
  height: 50px;
  padding-right: 80px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 60px;
}
.divider {
  width: 1px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);  
}
.menu {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.menu__item {
  position: relative;
  line-height: 50px;
  cursor: pointer;
  padding: 0 18px;
}
.menu__item:hover {
  background-color: #F2F2F2;
}

.menu__item--dropdown:hover .submenu {
  display: block;
} 
.submenu {
  min-width: 190px;
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  cursor: default;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.submenu--wide {
  min-width: 220px;
}
.submenu__item {
  cursor: pointer;
  padding-left: 10px;
  line-height: 30px;
}
.submenu__item:hover {
  background-color: #F2F2F2;
}
.menu__link, .submenu__link {
  text-decoration: none;
  color: inherit;
}
.submenu__divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}
.submenu__info {
  margin: 8px 0 2px;
  line-height: 14px;
  font-size: 12px;
  padding-left: 10px;
  color:  #A0A0A0; 
}

/* MODAL WINDOW */
.modal-container {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-container:target {
  visibility: visible;
  opacity: 1;
}
.modal-container .modal {
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}
.modal-container:target .modal {
  transform: translateY(0);
  opacity: 1;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
}
.modal {
  z-index: 1;
  background-color: white;
  min-width: 500px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 16px;
}
.modal__content {
  padding: 26px 30px 35px;
}
.modal__title-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin: 0;
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}
.close-link img {
  display: inline-block;
  vertical-align: text-bottom;
}
.modal__footer {
  padding: 20px 30px;
  padding-top: 20px;
  background-color:  rgba(0, 0, 0, 0.1);
}
.modal__close-btn {
  width: 93px;
  height: 38px;
  background-color: #fff;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-size: inherit;
  color: #333;
  cursor: pointer;
}
.modal__close-btn:hover {
  background-color: #f7f7f7;
}
.modal__close-btn:active {
  background-color: #f1f1f1;
}
.modal__link {
  color: inherit;
  text-decoration: none;
}

/* TOGGLE */
.toggle__check {
  opacity: 0;
  height: 0;
  width: 0; 
}
.toggle__label {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  line-height: 20px;
  cursor: pointer;
}
.toggle__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1000px;
  background-color: #fff;
  cursor: pointer;
  transition: .2s ease-in;
}
.toggle__label::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1000px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
  cursor: pointer;
  transition: .2s ease-in;
}
/* checked */
.toggle__check:checked + label::before {
  background-color: #3072C4;
}
.toggle__check:checked + label::after {
  transform: translateX(15px);
  background-color: #fff;
  border-color: #1971b1;
}
/* hover */
.toggle__label:hover::after {
  background: linear-gradient(180deg, #ebebeb 0%, #e6e6e6 100%);
}
/* active (click) */
.toggle__label:active::after {
  background: linear-gradient(180deg, #e2e2e2 0%, #dadada 100%);
}
/* focus */
.toggle__check:focus + .toggle__label::before {
  box-shadow: 0 0 0 2px #1D85D0;
}
.toggle__check:checked:focus + .toggle__label::before {
  border-color: #fff;
} 
.toggle__check:checked:focus + .toggle__label::after {
  border-color: transparent;
}
